.item-index__wrapper
  .item-index__container 
    .bread-crumds
      %ul.bread-crumds__list
        %li
          = link_to "" do
            %span<> 
              メルカリ
          %i.fas.chevron-right
        %li マイページ

    .mypage-container
      .mypage__content
        .logout
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout__link'

      .side-mypage
        = render 'side_bar'
