.item-index__wrapper
  .item-index__container 
    .mypage-container
      .mypage__content
        = link_to destroy_user_session_path, method: :delete, class: 'logout__link' do
          .logout ログアウト
      .side-mypage
        = render 'side_bar'