.perchace-new__footer
  .perchace-new__footer__top
    =link_to "プライバシーポリシー", "#"
    =link_to "メルカリ利用規約", "#"
    =link_to "特定商取引に関する表記", "#"
.perchace-new__footer__logo
  =link_to "#" do
    =image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?465897195", class: "mercari-logo-bottom")
.perchace-new__footer__bottom
  %p © 2019 Mercari