.new-devise__wrapper {
  min-height: 80vh;
  background-color: $gray;
}

// --------------------- devise ヘッダー --------------------- //
// ヘッダー
.new-devise__header {
  background-color: $gray;
  position: relative;
  z-index: 3;
  display: block;
  height: 100px;
  &__contents {
    width: 700px;
    margin: 0px auto;
    padding: 8px 0px 0px;
    &-top {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      &-logo {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        height: 40px;
        margin-right: 45px;
        &__mercari-logo {
          height: 100px;
          width: 200px;
          vertical-align: middle;
          position: relative;
          left: 235px;
          top: 30px;
        }
      }
    }
  }
} 

    // &-bottom {
    //   display: flex;
    //   // -webkit-box-pack: justify;
    //   justify-content: space-between;
    //   margin-top: 8px;
    //   &-left {
    //     display: flex;
    //     margin-left: -3px;
    //     &-type {
    //       cursor: pointer;
    //       height: 44px;
    //       position: relative;
    //       z-index: 3;
    //       padding: 0px 10px;
    //       a.type {
    //         display: block;
    //         font-size: 14px;
    //         font-weight: 600;
    //         line-height: 36px;
    //         white-space: nowrap;
    //       }
    //     }
    //   }
      // .header__list {
      //   display: flex;
      //   position: relative;
      //   &-item {
      //     height: 44px;
      //     position: relative;
      //     padding: 0px 7px;
      //     a.list {
      //       -webkit-box-align: center;
      //       align-items: center;
      //       display: flex;
      //       font-size: 14px;
      //       height: 32px;
      //       transform: scale(1);
      //       transition: all 0.3s ease-out 0s;
      //     }
      //   }
      // }



// --------------------- devise コンテンツ --------------------- //
.devise-main {
  width: 100%;
  background-color: $gray-back;
  @include flex-horizontal-center;

  // --------------------- ログインページ --------------------- //
  &__session {
    width: 400px;
    margin: auto;
    position: relative;
    right: 20px;

    &__registration {
      width: 90%;
      padding: 40px 64px;
      background-color: $white;


      &__head {
        height: 14px;
        color: $black;
        font-size: 14px;
        line-height: 1;
      }

      &__link {
        width: 100%;
        height: 42px;
        margin-top: 8px;
        background-color: #0099e8;
        color: $white;
        font-size: 14px;
        @include flex-center;
        border-radius: 5px;
      }
    }

    &__omniauth {
      width: 90%;
      padding: 32px 64px;
      background-color: $white;
      border-top: 1px solid $gray;

      &__facebook {
        @include facebook;
        border-radius: 5px;
      }

      &__google {
        @include google;
        margin-top: 16px;
        text-decoration: none;
        border-style: solid;
        border-width:1px;
        border-radius: 5px;
        width: 99%
      }
    }

    &__form {
      width: 90%;
      margin: auto;
      padding: 24px 64px 32px;
      background-color: $white;

      &__field {
        margin-top: 24px;

        &:nth-of-type(1) {
          margin-top: 0;
        }

        & input {
          width: 90%;
          height: 50px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: $white;
          line-height: 1.5;
          font-size: 16px;
          @include focus-field;
        }

        &__error {
          margin-top: 8px;
          color: $red;
          font-size: 14px;
        }
      }

      &__actions {
        & input {
          width: 100%;
          height: 50px;
          margin-top: 24px;
          background-color: $red;
          color: $white;
          font-size: 14px;
          cursor: pointer;
        }
        &__forgetting {
          display: block;
          margin-top: 40px;
          color: $light-blue;
          font-size: 14px;
          @include hover;
        }
      }
    }
  }

  // --------------------- 登録トップページ --------------------- //
  &__registration {
    width: 760px;
    margin: auto;
    &__head {
      padding: 32px;
      background-color: $white;
      color: $black;
      font-size: 22px;
      font-weight: bold;
      @include flex-center;
    }
    &__link {
      width: 50%;
      margin-bottom: calc(100vh - 128px - 220px - 311px - 97px);
      padding: 40px 190px 40px 190px;
      background-color: $white;
      border-top: 1px solid $gray;
      &__email {
        position: relative;
        width: 100%;
        height: 50px;
        background-color: red;
        color: white;
        font-size: 14px;
        @include flex-center;
        text-decoration: none;
        border-radius: 5px;
        &:hover {
          opacity: 0.7;
        }
        & i {
          position: absolute;
          top: 50%;
          left: 16px;
          transform: translateY(-50%);
          color: white;
          font-size: 20px;
        }
      }

      &__facebook {
        @include facebook;
        margin-top: 16px;
        text-decoration: none;
        border-radius: 5px;
      }

      &__google {
        @include google;
        margin-top: 16px;
        text-decoration: none;
        border-style: solid;
        border-width:1px;
        border-radius: 5px;
      }
    }

    // --------------------- 登録ページ --------------------- //
    &__form {
      width: 50%;
      padding: 60px 190px;
      background-color: $white;
      border-top: 1px solid $gray;

      .field {
        margin-top: 35px;

        &:nth-of-type(1) {
          margin-top: 0;
        }

        .label {
          color: $black;
          font-size: 14px;
          font-weight: bold;
          line-height: 1;
        }

        .necessary {
          margin-left: 8px;
          padding: 3px 4px;
          background-color: $red;
          border-radius: 2px;
          color: $white;
          font-size: 12px;
        }

        input {
          width: 100%;
          height: 48px;
          margin-top: 4px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: $white;
          line-height: 1.5;
          font-size: 16px;

          @include focus-field;
        }
      }

      .identification {
        p {
        font-size: 15px;
        font-weight: bold;
        position: relative;
        top: 15px;
        line-height: 20px;
        }
      &__explanation {
        p {
          font-size: 14px;
          font-weight: normal;
        }
      }
      }

      .birthday-select-wrap {
        position: relative;
        top: 20px;
        .label {
          color: $black;
          font-size: 14px;
          font-weight: bold;
          line-height: 1;
        }

        .necessary {
          margin-left: 8px;
          padding: 3px 4px;
          background-color: $red;
          border-radius: 2px;
          color: $white;
          font-size: 12px;
        }
      }

      .select-wrap {
        display: flex;
        position: relative;
        top: 10px;
      }

      .select-wrap__month {
        position: relative;
        top: -12px;
        left: 90px;
      }

      .select-wrap.select-wrap__day {
        position: relative;
        top: -33px;
        left: 153px;
      }


      .actions {
        input {
          width: 100%;
          height: 50px;
          margin-top: 40px;
          background-color: $red;
          color: $white;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
  }
}

// 電話番号の確認
.describe {
  position: relative;
  top: 5px;
}

.reason {
  float: right;
  position: relative;
  top: 25px;
}


// --------------------- devise フッター --------------------- //
.new-devise__single-footer {
  background-color: $gray;
  padding-top: 50px;
  @include flex-center;
  & nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & ul { 
    display: inline;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
      & li {
        display: inline;
        justify-content: center;
        align-items: center;
        & a{
        text-decoration: none;
        color: inherit;
        position: relative;
        left: 20px;
        }
      }
    }
  }
} 