@mixin edit-delete_buttons {
  display: block;
  width: 95%;
  height: 50px;
  text-decoration: none;
  color: white;
  text-align: center;
  line-height: 50px;
}
.my-item__edit-delete__buttons {
  width: 700px;
  height: 250px;
  margin: 10px auto;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &__edit {
    @include edit-delete_buttons;
    background: red;
  }
  &__or {
    display: block;
  }
  &__stop {
    @include edit-delete_buttons;
    background: gray;
  }
  &__delete {
    @include edit-delete_buttons;
    background: gray;
  }
}
.item__content__box-inner-img__my-item-image {
  width: 100%;
  height: 100%;
}