@mixin hover{
  text-decoration: underline;
  opacity: 0.6;
}

$link-color: #0099e8;


.item__contents {
  padding: 24px 0 40px;
  background: #fff;
  margin: 40px auto 0;
  width: 700px;
  &__name {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: bold;
  }
  &__main {
    margin: 16px 40px 0;
    .item__photo {
      float: left;
      min-width: 300px;
      max-width: 300px;
      min-height: 375px;
      height: 420px;
      margin: 0 auto;
      background: #fafafa;
      &__wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        .item__content {
          position: relative;
          overflow: hidden;
          &__inner {
            position: relative;
            width: 100%;
            height: 0;
            padding: 0 0 100%;
            &-img {
              .item-img {
                opacity: 1;
                transition: opacity 400ms ease;
                width: 100%;
                vertical-align: bottom;
              }
            }
          }
          .item__other__content {
            width: 100%;
            height: 120px;
            display: flex;
            flex-wrap: wrap;
            cursor: pointer;
            opacity: 0.6;
            &__img {
              line-height: 0;
              width: 60px;
              height: 60px;
            }
          }
        }
      }
    }
    .item__contents--detail {
      float: right;
      max-width: 300px;
      height: 420px;
      margin: 0 auto;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
      width: 100%;
      border-spacing: 0;
      tbody {
        tr {
          th {
            width: 39%;
            text-align: left;
            font-weight: 400;
            background: #fafafa;
            border: 1px solid #f5f5f5;
            padding-left: 8px;
          }
          td {
            width: 61%;
            padding: 8px;
            border: 1px solid #f5f5f5;
            .infomation {
              display: block;
              color: $link-color;
              text-decoration: none;
              &:hover {
                @include hover;
              }
              .sub-category {
                display: inline-block;
              }
            }
            .ratings {
              padding-top: 8px;
              .user-ratings {
                margin: 0;
                display: inline-block;
                .icon {
                  font-size: 16px;
                  vertical-align: middle;
                }
                span {
                  vertical-align: middle;
                  color: #333;
                  font-weight: normal;
                }
                .good {
                  color: #ef5185;
                }
                .normal {
                  color: #fba933;
                }
                .bad {
                  color: #6ab5d8;
                }
              }
            }
          }
        }
      }
    }
  }
  .item__contents__price {
    margin: 0 auto;
    width: 620px;
    clear: both;
    padding-top: 24px;
    text-align: center;
    .price {
      margin-right:  16px;
      font-size: 50px;
      font-weight: 600;
    }
    .tax {
      font-size: 10px;
    }
    .shipping-free {
      display: inline-block;
      font-size: 16px;
    }
    .item-buy {
      &-btn {
        font-size: 24px;
        line-height: 60px;
        display: block;
        margin-top: 16px;
        background: #ea352d;
        color: #fff;
        text-align: center;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
  .item--description {
    margin: 0 auto;
    width: 620px;
    line-height: 1.5;
    &-text {
      white-space: pre-wrap;
      font-size: 18px;
    }
  }
  &__bottom {
    margin: 16px auto 0;
    width: 620px;
    &--left {
      float: left;
      display: inline-flex;
      .icon-btn {
        border: 1px solid #f5f5f5;
        background: #f5f5f5;
        padding: 5px 16px;
        border-radius: 40px;
        cursor: pointer;
        font-size: 14px;
        .icon {
          font-size: 14px;
          vertical-align: middle;
          display: inline-block;
          font-style: normal;
          line-height: 1;
          color: #ccc;
        }
        .like {
          display: inline-block;
          margin: 1px 0 0 8px;
          vertical-align: middle;
        }
      }
      .report {
        margin-left: 16px;
        color: #333;
        background: #f5f5f5;
        padding: 8px 16px;
        border-radius: 40px;
        text-decoration: none;
        .flag-text {
          margin: 1px 0 0 8px;
          vertical-align: middle;
        }
        &:hover {
          opacity: 0.6;
        }
      }
    }
    &--right {
      margin-top: 8px;
      float: right;
      .safty {
        color: $link-color;
        text-decoration: none;
        &:hover {
          @include hover;
        }
      }
    }
  }
}

.item-detail-message {
  width: 700px;
  margin: 8px auto;
  .message-container {
    .message-content {
      padding: 24px;
      background: #fff;
      .messages {
        margin: 0;
        li {
          margin: 1.5em 0 0;
          .message-user {
            float: left;
            position: relative;
            display: inline-block;
            color: #333;
            &:hover {
              @include hover;
            }
            figure {
              margin: 0;
              .user-icon {
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 50%;
                .user-img {
                  width: 100%;
                  vertical-align: middle;
                }
              }
              figcaption {
                width: 600px;
                min-width: 600px;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 56px;
                max-width: 100%;
                height: 1.2em;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-weight: 600;
              }
            }
          }
          .message-body {
            width: 570px;
            float: right;
            position: relative;
            padding: 16px;
            background: #eef0f4;
            border-radius: 15px;
            line-height: 1.5;
            word-break: break-all;
            .message__icons {
              margin-top: 8px;
              &-left {
                display: block;
                color: #aaa;
                float: left;
                .time {
                  vertical-align: middle;
                  display: inline-block;
                  font-style: normal;
                  font-weight: 400;
                  font-variant: normal;
                  text-transform: none;
                  line-height: 1;
                  font-size: 16px;
                  &::before {
                    border-style: solid;
                    border-width: 0;
                  }
                }
                .days-ago {
                  vertical-align: middle;
                }
              }
              &-right {
                cursor: pointer;
                display: inline-block;
                color: #aaa;
                text-decoration: none;
                float: right;
                form {
                  display: inline;
                  .flag-btn {
                    background-color: #eef0f4;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                    touch-action: manipulation;
                    overflow: visible;
                    .flag {
                      vertical-align: middle;
                      font-size: 12px;
                      color: #ccc;
                    }
                  }
                }
              }
            }
            .balloon {
              position: absolute;
              top: 8px;
              left: -9px;
              color: #eef0f4;
              font-size: 30px;
            }
          }
          &::after {
            content: '';
            display: block;
            clear: both;
            border-style: solid;
            border-width: 0;
          }
        }
        li {
          margin-top: 60px;
          .message-user {
            top: -20px;
            color: #333;
            text-decoration: none;
            .message-is-seller {
              margin-top: 8px;
              padding: 4px;
              background: #eef0f4;
              color: #000;
              font-size: 12px;
              vertical-align: top;
              border-radius: 2px
            }
          }
        }
      }
    }
    .message-content {
      padding: 24px;
      background: #fff;
      form {
        .caution {
          padding: 8px;
          font-size: 14px;
          background: #fff6de;
        }
        .textarea-default {
          margin-top: 8px;
          display: block;
          max-width: 100%;
          min-height: 104px;
          padding: 10px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
        }
        .send-btn {
          width: 100%;
          margin: 8px 0 0;
          font-size: 0;
          background: #aaa;
          border: 1px solid #aaa;
          color: #fff;
          line-height: 48px;
          cursor: pointer;
          span {
            font-size: 14px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.nav__item__link {
  margin: 24px auto 0;
  width: 700px;
  &--prev {
    width: 45%;
    position: relative;
    word-wrap: break-word;
    float: left;
    padding-bottom: 14px;
    .icon {
      color: $link-color;
      text-decoration: none;
      .arrow-left {
        left: 0;
        top: 50%;
      }
      &:hover {
        @include hover;
      }
    }
  }
  &--next {
    width: 45%;
    position: relative;
    word-wrap: break-word;
    float: right;
    padding-right: 14px;
    text-align: right;
    .icon {
      color: $link-color;
      text-decoration: none;
      .arrow-right {
        right: 0;
        position: absolute;
      }
      &:hover {
        @include hover;
      }
    }
  }
}

.social-media__box {
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background: #fff;
  .center {
    text-align: center;
  }
  &__list {
    margin: 16px 0 0;
    text-align: center;
    font-size: 0;
    li {
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
      .share-btn {
        display: block;
        color: $link-color;
        text-decoration: none;
        &:hover {
          opacity: 0.6;
        }
        i {
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;
        }
        .facebook {
          color: #fff;
          background: #385185;
          font-size: 26px;
        }
        .twitter {
          font-size: 24px;
          color: #fff;
          background: #5d9dc9;
        }
        .line {
          color: #00c137;
          background:  #fff;
          font-size: 51px;
        }
        .pinterest {
          color: #aa262a;
          background: #fff;
          font-size: 51px;
        }
      }
    }
    .last {
      margin-bottom: 8px;
    }
  }
}

.exhibitor-other-items {
  width: 700px;
  margin: 0 auto;
  .items__container {
    width: 700px;
    margin: 0 auto;
    .items__box__head {
      font-size: 22px;
      margin: 24px 0 8px;
      line-height: 1.4;
      font-weight: bold;
      margin: 0;
      a {
        color: $link-color;
        text-decoration: none;
        &:hover {
          @include hover;
        }
      }
    }
    .items__box__content {
      width: auto;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .new__item-collection-list {
        margin: -10px;
        display: flex;
        flex-wrap: wrap;
        li {
          width: 220px;
          padding: 10px;
          margin: 0 13px 20px 0;
          div {
            width: 220px;
            .item {
              cursor: pointer;
              border: 1px solid #f5f5f5;
              text-decoration: none;
              figure {
                width: 100%;
                align-items: center;
                display: flex;
                background-color: #fff;
                flex-direction: column-reverse;
                margin: 0;
                overflow: hidden;
                z-index: 0;
                .item__box__body {
                  color: #222;
                  height: 110px;
                  line-height: 1.4em;
                  white-space: normal;
                  word-break: break-word;
                  .item-name {
                    display: inline-block;
                    padding: 16px 12px;
                    font-size: 14px;
                    position: relative;
                    word-break: break-word;
                    white-space: normal;
                    &:after {
                      background: linear-gradient(0,0%,100%,0),#fff 72%;
                      bottom: 0;
                      content: "";
                      height: 50%;
                      position: absolute;
                      right: 0;
                      width: 50%;
                    }
                  }
                  .price {
                    text-align: left;
                    padding: 0 0 1px 16px;
                    display: block;
                    font-weight: bold;
                  }
                }
                .item-img {
                  height: 0;
                  overflow: hidden;
                  padding: 0 0 100%;
                  position: relative;
                  width: 100%;
                  .img {
                    bottom: 0;
                    position: absolute;
                    top: 0;
                    height: auto;
                    vertical-align: top;
                    width: 100%;
                    z-index: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.contents__bottom__nav {
  background: #f5f5f5;
  border-top: 1px solid #eee;
  ul {
    width: 700px;
    margin: 0 auto;
    padding: 16px 0;
    li {
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      a {
        color: #333;
        text-decoration: none;
        &:hover {
          @include hover;
        }
      }
      .arrow-right {
        margin: 0 8px;
        font-size: 9px;
        color: #888;
      }
    }
    .item-type {
      font-weight: 600;
      font-size: 14px;
      line-height: 1.2;
    }
  }
} 