%div
  -# 詳細ページへのリンク貼る
  = link_to "#", class: "item" do
    %figure
      %figcaption
        %span.item-name
          = @item.title
      .item-img
        %span.price ¥ 58,000
        = image_tag @item.image, class: "img",