- breadcrumb :user, @user
.signup-main
  .header-signup
    .signup-container
      %h2.signup-container__head
        支払い方法
      = form_with model: @card, url: user_cards_path(current_user), html: {name: "inputForm"}, local: true do |f|
        = render partial: "card_form", locals:{f: f}
      