.signup-container {
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 34px;
  &__head {
    font-size: 24px;
    padding: 32px;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    font-weight: bold;
    line-height: 1.5;
  }
  .information {
    margin: 0 auto;
    max-width: 343px;
    &__group {
      margin-top: 40px;
      @include information_group_top;
      &__text {
        @include information_text_box;
        width: 94%;
      }
      &__box {
        @include information_select_box
      }
      &__cards-list {
        margin-top: 8px;
        li {
          display: inline-block;
          margin-right: 8px;
        }
      }
      &__half-box {
        display: inline-block;
        width: calc(50% - 2px);
        margin-top: 8px;
        position: relative;
        &__select {
          -webkit-appearance: none;
          -moz-appearance: none;
          background-color: #fff;
          height: 48px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          font-size: 16px;
          line-height: 1.5;
          cursor: pointer;
          width: calc(100% - 38px);
          &::-ms-expand {
            display: none;
          }
          &:focus {
            border-color: #0099e8;
            outline: none;
          }
        }
        &__icon {
          font-size: 20px;
          margin: 0 6px 0 -18px;
          right: 16px;
          color: #888;
          position: relative;
          top: 3px;
          pointer-events: none;
        }
      }
    }
    &__link {
      margin: 8px 0 0;
      line-height: 1.5;
      text-align: right;
      a {
        color: #0099e8;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          opacity: 0.7;
        }
      }
    }
    &__submit {
      @include information_submit;
    }
    &__complete {
      text-align: center;
      margin: 30px;
      font-size: 20px;
      padding: 10px;
    }
    &__btn {
      @include information_submit;
      text-decoration: none;
    }
  }
}

.signup_header {
  height: 128px;
  text-align: center;
  &__logo {
    display: inline-block;
    margin-top: 40px;
    &__link {
      line-height: 49px;
      margin-right: 8px;
      &__image {
        width: 185px;
        height: 49px;
      }
    }
  }
  &__bar {
    padding: 40px 0 0 44px;
    border: 0;
    display: inline-block;
    vertical-align: top;
    &__group {
      .signup_header_list {
        margin-right: 40px;
        min-width: 60px;
        position: relative;
        z-index: 1;
        display: inline-block;
        font-size: 12px;
        &:not(:first-child)::before{
          right: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background-color: #ccc;
        }
        &:not(:last-child)::after{
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background-color: #ccc;
        }
        .signup_status {
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          border-radius: 50%;
          background: #ccc;
        }
      }
      .signup_active {
        font-weight: 600;
        color: #ea352d;
        &:not(:first-child)::before{
          background-color: #ea352d;
        }
        &:not(:last-child)::after{
          background-color: #ccc;
        }
        .signup_status {
          background: #ea352d;
        }
      }
      .signup_through {
        &:not(:first-child)::before{
          background-color: #ea352d;
        }
        &:not(:last-child)::after{
          background-color: #ea352d;
        }
        .signup_status {
          background: #ea352d;
        }
      }
    }
  }
}